# Unified requirements for SpaceNet processing + training (GPU, PyTorch)
# ML/Deep Learning
numpy
pandas
# torch
# torchvision
torch-geometric
torch-scatter
torch-sparse
scikit-learn
timm
Pillow==9.5.0
# Utilities
sagemaker
tqdm
albumentations
# If torch_geometric direct install fails, see: https://pytorch-geometric.com/whl/
