# If torch_geometric direct install fails, see: https://pytorch-geometric.com/whl/
# ML/Deep Learning
# Unified requirements for SpaceNet processing + training (GPU, PyTorch)
# Utilities
numpy
pandas
Pillow==9.5.0
sagemaker
scikit-learn
timm
torch
torch-geometric
torch-scatter
torch-sparse
torchvision
tqdm
albumentations
rasterio
geopandas